/* body {
  background-image: url("https://images.unsplash.com/photo-1620928572438-075c466c48da?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-repeat: no-repeat;
  background-size: cover;
} */

#mlb-brand {
  height: 55px;
  max-height: 55px;
}

.show-card-modal {
  max-height: 100%;
  width: 100%;
  overflow: hidden;
  transition: transform 0.1s ease-in-out;
}

.writer,
.penciler,
.cover-artist {
  color: black;
}

.hero {
      background-image: url("https://images.unsplash.com/photo-1620928572438-075c466c48da?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"); 
 background-repeat: no-repeat;
  background-size: cover; 
}

.show-card-image {
  padding-right: 1.25rem;
}

.search-item, .gallery-item {
    position: relative;
}

.search-item:hover, .gallery-item:hover  {
  transform: scale(1.02);
  transition: transform 0.1s ease-in-out;
}

.save-btn, .remove-btn {
    position: absolute;
    display: flex;
    align-items:center;
    justify-content: center;
    border: none;
    background-color: #fff; /* set the background color */
    color: #000; /* set the icon color */
    right: 10px;
    width: 20px;
    padding:0;
    z-index:1;
}

.remove-btn {
    top: 10px;
}

.save-btn i:hover, .remove-btn i:hover {
    color: red;
}

.save-btn i, .remove-btn i {
    font-size: 1.5rem;
}

.c-btn {
    opacity: 0;
}

.search-item:hover .c-btn, .gallery-item:hover .c-btn  {
opacity: 1;
  }


/* .diagonal {
  position: relative;
  
}

.diagonal::after {
    content:'';
    background-image: url("https://images.unsplash.com/photo-1620928572438-075c466c48da?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    height: 50%;
    position: absolute;
    transform: skewY(-5deg);
    z-index: -1;
} */


/* tooltip style */
.tooltip:hover::after {
  content: attr(data-text);
  background-color: rgb(159, 159, 159);
  padding: 1rem;
}

@media screen and (max-width: 768px) {
  .card-image {
    padding-right: 0;
    padding-bottom: 0.75rem;
  }

  .card-content {
    padding: 0.75rem;
  }
}
